player-connection-mode=Listen
player-connection-guid=3603070433
player-connection-debug=0
player-connection-project-name=Network Programming
player-connection-ip=10.22.2.16
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cbdf8d8f1ac04b18b24d0f33235c7f59
